In [63]:
import pandas as pd

from selenium import webdriver
from selenium.webdriver.common.by import By
from bs4 import BeautifulSoup

from time import sleep
import datetime

Iniciando uma instância do google chrome

In [3]:
# webdriver.chromeoption é usado para definir a preferencia para o brower do chrome
options = webdriver.ChromeOptions()
# options.add_argument('--headless')

# inicia-se a instancia do chrome webdriver com as definidas options e service
driver = webdriver.Chrome(options=options)

url = 'https://www.infomoney.com.br/ferramentas/altas-e-baixas/'

driver.get(url)

In [4]:
site = BeautifulSoup(driver.page_source, 'html.parser')

linhas = site.find_all('tr', {'role':'row'})

acoes = []

for i in linhas[1:]:
    filhas = i.find("a")
    acoes.append(filhas.text)

sleep(3)

driver.quit()

In [4]:
acoes

['AZUL4',
 'SMTO3',
 'COGN3',
 'BRFS3',
 'MRFG3',
 'CMIN3',
 'BRKM5',
 'CSNA3',
 'USIM5',
 'JBSS3',
 'BRAP4',
 'VALE3',
 'GOAU4',
 'YDUQ3',
 'BEEF3',
 'GGBR4',
 'ENEV3',
 'RENT3',
 'NTCO3',
 'PCAR3',
 'PETR4',
 'RAIZ4',
 'RECV3',
 'PRIO3',
 'ASAI3',
 'TOTS3',
 'B3SA3',
 'MGLU3',
 'CSAN3',
 'RADL3',
 'MRVE3',
 'EGIE3',
 'VIVA3',
 'ABEV3',
 'PETR3',
 'ELET3',
 'EQTL3',
 'VAMO3',
 'CRFB3',
 'ELET6',
 'EMBR3',
 'SBSP3',
 'FLRY3',
 'SLCE3',
 'ITSA4',
 'UGPA3',
 'BBDC3',
 'EZTC3',
 'IRBR3',
 'CCRO3',
 'CMIG4',
 'RAIL3',
 'CXSE3',
 'LREN3',
 'BBDC4',
 'CYRE3',
 'HAPV3',
 'PETZ3',
 'AZZA3',
 'VBBR3',
 'BBSE3',
 'ITUB4',
 'AURE3',
 'TRPL4',
 'ALPA4',
 'HYPE3',
 'CPFE3',
 'LWSA3',
 'STBP3',
 'BBAS3',
 'SUZB3',
 'RDOR3',
 'MULT3',
 'TIMS3',
 'CPLE6',
 'BRAV3',
 'VIVT3',
 'WEGE3',
 'ALOS3',
 'CVCB3']

buscando pelo codigo

In [7]:
escolha = acoes[0]

print(escolha)

AZUL4

In [59]:
# webdriver.chromeoption é usado para definir a preferencia para o brower do chrome
options = webdriver.ChromeOptions()
# options.add_argument('--headless')

# inicia-se a instancia do chrome webdriver com as definidas options e service
driver = webdriver.Chrome(options=options)

url_acao = f'https://www.infomoney.com.br/{escolha}'

driver.get(url_acao)

botao = driver.find_element(By.XPATH, "//a[span[text()='Histórico']]")
botao.click()

In [ ]:
data_min = driver.find_element(By.ID, 'dateMin')

data_max = driver.find_element(By.ID, 'dateMax')

data_min.send_keys('01/08/2024')
data_max.send_keys('01/09/2024')

filtro = driver.find_element(By.ID, 'see_all_quotes_history')
filtro.click()

In [ ]:
table = driver.find_element(By.ID, 'quotes_history')

rows = table.find_elements(By.TAG_NAME, 'tr')

cabecalho = rows[0].find_elements(By.TAG_NAME, 'th')

titulo = []

for texto in cabecalho:
    titulo.append(texto.text)

df = pd.DataFrame(columns=titulo)

for row in rows[1:]:
    # Find all the cells in the row
    cells = row.find_elements(By.TAG_NAME, 'td')

    # Extract text from each cell
    row_data = [cell.text for cell in cells]

    df.loc[len(df)] = row_data

In [60]:
df

          DATA ABERTURA FECHAMENTO VARIAÇÃO MÍNIMO MÁXIMO   VOLUME
0   30/08/2024     7,16       5,39    -2,00   5,36   5,93  863,46M
1   29/08/2024     7,16       5,50   -24,14   5,35   7,16  552,81M
2   28/08/2024     7,45       7,25    -2,68   7,25   7,45  113,65M
3   27/08/2024     7,59       7,45    -1,84   7,42   7,63  147,21M
4   26/08/2024     7,61       7,59    -0,13   7,48   7,65   64,37M
5   23/08/2024     7,48       7,60     2,01   7,46   7,68  104,15M
6   22/08/2024     7,79       7,45    -4,24   7,41   7,79  133,84M
7   21/08/2024     7,72       7,78     1,17   7,72   8,09  131,18M
8   20/08/2024     7,81       7,69    -1,66   7,58   7,83  107,04M
9   19/08/2024     7,51       7,82     5,53   7,37   7,92  156,51M
10  16/08/2024     7,84       7,41    -4,26   7,41   7,90  152,80M
11  15/08/2024     7,80       7,74    -0,13   7,60   7,93  113,16M
12  14/08/2024     7,35       7,75     6,46   7,29   7,82  248,94M
13  13/08/2024     7,05       7,28     4,00   7,02   7,36  167,74M
14  12/08/2024     7,49       7,00   -11,95   7,00   7,74  362,16M
15  09/08/2024     7,72       7,95     3,79   7,29   7,97  280,33M
16  08/08/2024     7,78       7,66    -1,54   7,56   7,82  120,43M
17  07/08/2024     8,01       7,78     0,00   7,75   8,08  124,08M
18  06/08/2024     7,80       7,78     0,65   7,64   8,08  140,28M
19  05/08/2024     7,51       7,73    -2,77   7,33   7,74  153,94M
20  02/08/2024     7,88       7,95     1,15   7,77   8,12  125,81M
21  01/08/2024     8,10       7,86    -1,75   7,74   8,33  126,66M

In [61]:
driver.quit()