In [1]:
import pandas as pd

from selenium import webdriver
from selenium.webdriver.common.by import By
from bs4 import BeautifulSoup

from time import sleep
import datetime

Iniciando uma instância do google chrome

In [2]:
# webdriver.chromeoption é usado para definir a preferencia para o brower do chrome
options = webdriver.ChromeOptions()
# options.add_argument('--headless')

# inicia-se a instancia do chrome webdriver com as definidas options e service
driver = webdriver.Chrome(options=options)

url = 'https://www.infomoney.com.br/ferramentas/altas-e-baixas/'

driver.get(url)

In [3]:
site = BeautifulSoup(driver.page_source, 'html.parser')

linhas = site.find_all('tr', {'role':'row'})

acoes = []

for i in linhas[1:]:
    filhas = i.find("a")
    acoes.append(filhas.text)

sleep(3)

driver.quit()

In [4]:
acoes

['RAIZ4',
 'EMBR3',
 'TIMS3',
 'VBBR3',
 'EGIE3',
 'PRIO3',
 'SMTO3',
 'BRFS3',
 'VIVT3',
 'PETR3',
 'PETR4',
 'ENEV3',
 'CPFE3',
 'SBSP3',
 'CMIG4',
 'SUZB3',
 'SLCE3',
 'TRPL4',
 'FLRY3',
 'MULT3',
 'PETZ3',
 'RECV3',
 'BBSE3',
 'CMIN3',
 'ITSA4',
 'ITUB4',
 'CPLE6',
 'IRBR3',
 'WEGE3',
 'ABEV3',
 'BBAS3',
 'VALE3',
 'JBSS3',
 'RADL3',
 'CXSE3',
 'MRFG3',
 'BBDC3',
 'ELET6',
 'BBDC4',
 'PCAR3',
 'BRKM5',
 'EQTL3',
 'GGBR4',
 'STBP3',
 'GOAU4',
 'VIVA3',
 'BRAP4',
 'BEEF3',
 'AURE3',
 'ALOS3',
 'RDOR3',
 'RAIL3',
 'ALPA4',
 'TOTS3',
 'CCRO3',
 'RENT3',
 'ELET3',
 'HAPV3',
 'CSAN3',
 'B3SA3',
 'HYPE3',
 'UGPA3',
 'AZZA3',
 'CRFB3',
 'MRVE3',
 'BRAV3',
 'NTCO3',
 'LREN3',
 'VAMO3',
 'LWSA3',
 'CYRE3',
 'USIM5',
 'YDUQ3',
 'AZUL4',
 'COGN3',
 'ASAI3',
 'EZTC3',
 'CVCB3',
 'MGLU3',
 'CSNA3']

buscando pelo codigo

In [5]:
escolha = acoes[0]

print(escolha)

RAIZ4

In [6]:
# webdriver.chromeoption é usado para definir a preferencia para o brower do chrome
options = webdriver.ChromeOptions()
# options.add_argument('--headless')

# inicia-se a instancia do chrome webdriver com as definidas options e service
driver = webdriver.Chrome(options=options)

url_acao = f'https://www.infomoney.com.br/{escolha}'

driver.get(url_acao)

botao = driver.find_element(By.XPATH, "//a[span[text()='Histórico']]")
botao.click()

In [7]:
data_min = driver.find_element(By.ID, 'dateMin')

data_max = driver.find_element(By.ID, 'dateMax')

data_min.send_keys('01/08/2024')
data_max.send_keys('01/09/2024')

filtro = driver.find_element(By.ID, 'see_all_quotes_history')
filtro.click()

In [8]:
table = driver.find_element(By.ID, 'quotes_history')

rows = table.find_elements(By.TAG_NAME, 'tr')

cabecalho = rows[0].find_elements(By.TAG_NAME, 'th')

titulo = []

for texto in cabecalho:
    titulo.append(texto.text)

df = pd.DataFrame(columns=titulo)

for row in rows[1:]:
    # Find all the cells in the row
    cells = row.find_elements(By.TAG_NAME, 'td')

    # Extract text from each cell
    row_data = [cell.text for cell in cells]

    df.loc[len(df)] = row_data

In [9]:
df

          DATA ABERTURA FECHAMENTO VARIAÇÃO MÍNIMO MÁXIMO   VOLUME
0   30/08/2024     3,26       3,21     0,00   3,15   3,22   73,35M
1   29/08/2024     3,26       3,21    -1,83   3,17   3,27   42,01M
2   28/08/2024     3,27       3,27    -0,30   3,21   3,29   37,55M
3   27/08/2024     3,29       3,28    -0,61   3,26   3,32   85,22M
4   26/08/2024     3,25       3,30     0,92   3,20   3,32   44,74M
5   23/08/2024     3,22       3,27     0,93   3,22   3,32   57,19M
6   22/08/2024     3,25       3,24    -0,31   3,20   3,28   46,24M
7   21/08/2024     3,29       3,25    -1,52   3,22   3,33   81,11M
8   20/08/2024     3,31       3,30     0,00   3,24   3,31   42,52M
9   19/08/2024     3,31       3,30     0,00   3,28   3,35   60,46M
10  16/08/2024     3,29       3,30     0,61   3,25   3,32   48,96M
11  15/08/2024     3,23       3,28     0,92   3,21   3,32   53,27M
12  14/08/2024     3,35       3,25    -4,13   3,18   3,35   97,58M
13  13/08/2024     3,31       3,39     2,42   3,27   3,40   53,32M
14  12/08/2024     3,28       3,31     0,61   3,28   3,35   44,38M
15  09/08/2024     3,15       3,29     4,11   3,15   3,32   68,70M
16  08/08/2024     3,14       3,16     0,64   3,13   3,20   47,16M
17  07/08/2024     3,06       3,14     3,29   3,02   3,18   44,20M
18  06/08/2024     2,95       3,04     3,05   2,92   3,11   76,32M
19  05/08/2024     2,83       2,95     0,34   2,82   2,96   57,50M
20  02/08/2024     2,97       2,94    -0,67   2,91   3,01   41,68M
21  01/08/2024     3,00       2,96    -0,67   2,96   3,07  101,02M

In [10]:
driver.quit()

In [29]:
df['DATA'] = pd.to_datetime(df['DATA'], format='%d/%m/%Y')

teste genIA

In [35]:
import os
from groq import Groq
from dotenv import load_dotenv

In [36]:
load_dotenv()

client = Groq(
    api_key=os.environ.get("GROQ_API_KEY"),
)

In [38]:
def ask_groq(question, df_json):
    content = {
        "question": question,
        "sales_data": df_json
    }
    chat_completion = client.chat.completions.create(
        messages=[
            {
                "role": "user",
                "content": str(content),
            }
        ],
        model="llama3-8b-8192",
    )

    return chat_completion.choices[0].message.content

if df is not None:
    # Converter o DataFrame para JSON
    df_json = df.to_json(orient="records", force_ascii=False, date_format='iso')

    question = "Qual foi o preço de abertura na data 16/08/2024?"
    answer = ask_groq(question, df_json)

    print(answer)

else:
    print("Não foi possível enviar a pergunta ao chat devido a erro na leitura dos dados.")

Resposta do Groq: O preço de abertura na data 16/08/2024 foi 3,29.